.App {
    text-align: center;
  }
  
  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  
  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .App-link {
    color: #61dafb;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style: none;
    border: 0;
    outline: 0;
  }
  
  body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: #eee;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  
  .container {
    width:1000px;
    margin: 0 auto;
  }
  
  .products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px 0;
  }

  
  .item-big {
    padding: 15px;
    background: #fff;
    border: 1px solid #ddd;
    margin-bottom: 80px;
    width: 24%;
    cursor: pointer;
  }
  
  .item-big img {
    width:100%;
    height: 70%;
  }
  
  .item-big h6 {
    font-size: 12px;
    text-align: center;
  }

  .favorite {
      padding: 5px;
      margin: 5px;
      color: red;
      cursor: pointer;
  }
